/*typography style*/
.font-raleway{
    font-family: $font-raleway;
}

.font-rubik{
    font-family: $font-rubik;
}
.font-roboto{
    font-family: $font-roboto;
}

.f-s-12{
    font-size: 12px;
}
.f-s-14{
    font-size: 14px;
}

.f-s-24{
    font-size: 24px;
}
.f-s-28{
    font-size: 14px;
}
.f-s-r1{
    font-size: 1rem;
}
.f-s-r2{
    font-size: 2rem;
}
.f-s-r3{
    font-size: 3rem;
}
.f-s-r4{
    font-size: 4rem;
}